body {
    margin: 0px;
    font-family: 'Khula', sans-serif;
    font-family: 16px
}

ul{
    list-style: none;
}

.main {
    background: #FFFCF6;
}

.prelude {
    width: 100%;
    height: 100vh;
    background-image: url('loja.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.container {
    width: 90%;
    max-width: calc(100% - 72px);
   margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.header__menu-icon {
    padding-top: 10px;
    width: 28px;
    height: 22px;
}

.header__menu-icon span {
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: 4px 4px;
}

.header__logo {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
}

.header__logo i {
    font-style: italic;
}

.prelude-contente {
    margin-top: -30px;
}

.prelude-title-h2 {
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    line-height: 1.1;
    max-width: 629px;
}

.prelude-subtitle {
    font-family: 'Khula', sans-serif;
    font-size: 26px;
    line-height: 37px;
    max-width: 439px;
    margin-top: -26px;
}

.slider-controls {
    width: 50%;
    height: 50%;
}

.slider-controls .small-icone {
    display: inline-block;
    padding: 12px 15px;
    width: 46px;
    height: 45px;
    margin: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
}

.small-icone:hover {
    border: 2px solid #FFFFFF;
    opacity: 1;
}

.icone__next {
    transform: rotate(180deg);
}

.slider-tracks {
    display: flex;
    padding-bottom: 1px;
    margin-top: 39px;
}

.slider-tracks__item {
    width: 35px;
    height: 4px;
    opacity: 0.5;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    transition: .5s background .5s opacity;
}

.slider-tracks__item:hover {
    background-color: #ffffff;
    opacity: 1;
}

.slider-tracks__item:not(:last-child){
    margin-right: 8px;
}

.slider-tracks__item--active {
    opacity: 1;
}

.section-coffe {
    margin-top: 50px;
    width: 100%;
}
.body {
    display: flex;
}
.coffe-image {
    width: 50%;
}

.div-coffe {
    width: 50%;
}

.coffe-image .image-cafe {
    width: 98%;
    height: 100%;
    align-items: center;
}

.title-coffe {
    margin-left: 100px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    color: #0B1D03;
}

.text-coffe {
    margin-left: 100px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #0B1D03;
}

.section-product {
    margin-top: 50px;
    margin-bottom: 10px;
}

.list-product {
    text-align: center;
    width: 381px;
    height: 473px;
    margin: 10px 10px;
    background: #F7F1E6;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px  #0B1D03;
    display: inline-block;
    transition: .5s box-shadow;
}

.list-product:hover {
    box-shadow: inset 0 0 0 rgb(100, 100, 100), 0 0 10px rgb(43, 43, 43);
}

.title-product {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: #A0996C;
}

.list-product-titulo {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0B1D03;
}

.preco {
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #0B1D03;
}

.preco span {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #969696;

}

.list-product .button {
    width: 323px;
    height: 43px;
    background: #0B1D03;
    border-radius: 4px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;

}

.section-catalog {
    margin-top: 50px;
    margin-bottom: 76px;
}

.catalog-details {
    display: flex;
} 

.catalog-details-itens {
    text-align: center;
    width: 20%;
    margin: 5px -3px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #0B1D03;
}

.div-catalog {
    width: 100%;
    height: 50%;
    display: flex;
}

.div-catalog-coffe {
    width: 50%;
    height: 500px;
    margin-right: 10px;
    background-image: url(semente-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div-catalog-coffe-title {
    margin: 337px 10px 10px 43px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #FFFCF6;
}

.div-catalog-coffe-text {
    margin-left: 43px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFCF6;
}

.div-catalog-bule {
    width: 50%;
    height: 500px;
    margin-left: 10px;
    background-image: url(bule.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.aside-address {
    margin-top: 50px;
    margin-bottom: 10px;
}

.aside-address-title {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 60px;
    color: #0B1D03;

}

.aside-address-select {
    width: 459px;
    height: 44px;
    margin: 10px 12px 20px 0px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
}

.aside-address-input {
    width: 738px;
    height: 44px;
    margin: 10px 0px 20px 0px;
    background: url(search.svg) #fffafa;
    background-repeat: no-repeat;
    background-position: 702px;
    border: 2px solid #0B1D03;
    box-sizing: border-box;
    border-radius: 4px;
}

.address-map {
    width: 100%;
}

.footer-block {
    display: inline-block;
} 

.footer-title {
    float: left;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #0B1D03;
}

.footer-informacoes {
    width: 87%;
    
}

.footer-ul {
    display: inline-block;
    padding: 0 98px;
}

.redes {
    display: inline-block;
}

.footer-ul .header {
    margin: 16px 0px;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.footer-redes {
    float: right;
}

.footer-ul a {
    text-decoration: none;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.rodape-desenvolvedor {
    text-align: center;
    font-family: 'Khula', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.rodape-desenvolvedor a {
    text-decoration: none;
}

@media only screen and (max-width: 950px){ 
    .prelude {
        width: 100%;
        height: 100%;
        background-image: url(loja.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
    }

    .section-coffe {
        margin-top: 50px;
        width: 100%;
        margin-left: 3%;
    }

    .body {
        display: block;
        background-color: #ffffff;
    }

    .coffe-image .image-cafe {
        width: 200%;
        height: 100%;
    }

    .div-coffe {
        width: 100%;
    }
}

@media only screen and (max-width: 950px){ 
    .container {
        width: 90%;
        max-width: 100%;
        margin: 0 10px;
    }

    .prelude-title-h2 {
        font-family: 'Playfair Display', serif;
        font-size: 60px;
        line-height: 1.1;
        max-width: 629px;
    }
}
